.chat {
  border: 1px gray solid;
  border-radius: 2px;
  padding: 20px;
  margin: 20px;
}
.room {
  border: 1px #ccc solid;
  border-radius: 2px;
}
.list_room li {
  cursor: pointer;
}

.MuiBadge-badge-124 {
  top: 35px !important;
  right: 90px !important;
  cursor: pointer;
}
